body{
    background-image: url(showcase.jpg);
}
h1,h2,h3,h4{
    text-align: center;
}
h1{
    border: 2px solid black;
    background-color: yellow;
    color: blue ;
    font-family: 'Roboto Mono';
}
div{
    flex-wrap: wrap;
    margin: 15px;
    border: 2px solid black;
    background-color: lightgray;
}